body{
    height: 100vh;
}
.sa{
    margin-left: 30px;
    font-family: dancing script;
    border-bottom: 1px solid black;
}

.f-in{
    position: relative;
    top: 400px;
    padding-top: 10px;
    margin-left: 280px;
    padding-bottom: 5px;
    width: 600px;
   padding: 10px;
   height: 35px;
   border-radius: 10px;
    text-transform: uppercase;
      border-style: none;
   color: white;
    background-color: teal;
}
::placeholder{
    color: white;
    opacity: 0.8;
    font-size: 1rem;
    padding-left: 7px;
    font-family: raleway;
}

.h-p{
    justify-content: center;
    margin-left: 600px;
    text-transform: capitalize;
    border: 1px solid black;
    width: 200px;
    padding: 15px 5px 4px 5px;
    border-radius: 5px;
    display: none;
}
.b-p{
    margin-left: 300px;
    background-color: teal;
    text-transform: capitalize;
    color: white;
    width: 450px;
    padding: 20px ;
    border-radius: 7px;
    font-family: raleway;
    font-size: 1.3rem;
}
.send{
    position: relative;
    top: 340px;
    margin-left: 920px;
    background-color: red;
    padding: 8px;
    border-radius: 4px;
    color: white;
    text-align: center;
    font-family: raleway;
    width: 60px;
    cursor: pointer;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
}
.send:hover{
    letter-spacing: 1px;
    transition: o.3s ease-in-out;
   
}
.typing{
    margin-left: 300px;
    font-family: raleway;
    text-transform: capitalize;
}
@media only screen and (max-width: 400px) {
    .f-in{
        margin-left: 0px;
        width: 180px;
    }
    .h-p{
        margin-left: 50px;
    }
    .b-p{
        margin-left: 20px;
        width: 250px;
    }
    .send{
        margin-left: 210px;
    }
    .typing{
        margin-left: 3px;
    }
}


